#bandStructureControls {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .pseudoSelector {
    font-weight: bold;
  }

  #referencePseudoSelector {
    @extend .pseudoSelector;

    label {
      color: black;
    }
  }

  #comparedPseudoSelector {
    @extend .pseudoSelector;

    label {
      color: red;
    }
  }

  #pseudoShiftRange {
    height: 0.75rem;
  }
}
