.ptable_outer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ptable {
  display: grid;
  grid-template-columns: repeat(17, auto) 1fr;
  grid-template-rows: repeat(10, auto) 1fr;
}
