#convergencePane {
  #categorySelectorContainer {
    width: fit-content;
    margin: 0 auto;
  }

  #plotTitle {
    text-align: center;
    margin: 0.5rem 0;
  }

  #convergencePlotDetailsContainer {
    margin: 1rem auto 0;
    max-width: 1000px;
  }
}
