#convergencePane {
  #categorySelectorContainer {
    width: fit-content;
    margin: 0 auto;
  }

  #convergencePlotContainer {
    margin: 1rem 0;

    #plotTitle {
      text-align: center;
      margin: 0.5rem 0;
    }
  }

  #convergencePlotDetailsContainer {
    margin: 1.5rem auto 0;
    max-width: 1000px;
  }
}
