#pseudos-list {
  display: grid;
  max-width: 1000px;
  margin: 1rem auto;
  padding: 0;

  .pseudo-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    cursor: default;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;

    &.transparent {
      opacity: 0.25;
    }

    &.highlighted {
      font-weight: bold;
    }

    .pseudo-list-marker {
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }

    .pseudo-name {
      font-size: 0.8rem;
    }

    @media (min-width: 531px) and (max-width: 1300px) {
      margin-bottom: 0.5rem;
    }
  }

  @media (max-width: 1490px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 530px) {
    grid-template-columns: 1fr;
    margin: 0 auto 2em;
    width: fit-content;
  }
}
