#pseudosLegend {
  display: grid;
  width: max-content;
  margin: 1rem auto;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 576px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .pseudoItem {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    cursor: default;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;

    .pseudoListMarker {
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }

    .pseudoName {
      font-size: 0.8rem;
    }

    &.transparent {
      opacity: 0.25;
    }

    &.highlighted {
      .pseudoName {
        font-weight: bold;
      }
    }
  }
}
