#pseudos-legend {
  > div {
    width: max-content;
    margin: 0 auto;

    @media (min-width: 1400px) {
      margin: 0;
    }
  }

  #pseudos-list {
    display: grid;
    width: max-content;
    margin: 1rem auto;
    padding: 0;
    column-gap: 1rem;

    @media (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 992px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 1400px) {
      margin: 1rem 0;
      grid-template-columns: 1fr;
    }

    .pseudo-item {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      cursor: default;
      opacity: 1;
      transition: opacity 0.25s ease-in-out;
      -webkit-transition: opacity 0.25s ease-in-out;
      -moz-transition: opacity 0.25s ease-in-out;
      -ms-transition: opacity 0.25s ease-in-out;
      -o-transition: opacity 0.25s ease-in-out;

      @media (min-width: 1400px) {
        margin-bottom: 1rem;
      }

      &.transparent {
        opacity: 0.25;
      }

      &.highlighted {
        .pseudo-name {
          font-weight: bold;
        }
      }

      .pseudo-list-marker {
        width: 1rem;
        height: 1rem;
        margin-right: 0.5rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }

      .pseudo-name {
        font-size: 0.8rem;
      }
    }
  }
}
