.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--element-box-size);
  height: var(--element-box-size);
  font-size: 12px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 1px solid var(--bs-border-color);
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  z-index: 1;
  transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;

  &.disabled {
    pointer-events: none;
    color: black;
  }

  &.transparent {
    opacity: 0.25;
  }

  &:hover {
    z-index: 10;
    border-width: 2px;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }

  &.element-2 {
    grid-column-start: 18;
  }

  &.element-5,
  &.element-13 {
    grid-column-start: 13;
  }

  &.element-57,
  &.element-89 {
    grid-column-start: 4;
  }

  .symbol {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
  }

  .info {
    line-height: 1;
  }
}
