:root {
  --element-box-size: 45px;
}

#periodic-table {
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow-x: auto;
  padding: 10px;

  #table {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: fit-content;

    .elements {
      display: grid;
      width: fit-content;
      grid-template-columns: repeat(18, var(--element-box-size));
      gap: 2px;
    }

    .star-placeholder {
      display: flex;
      font-weight: bold;
      align-self: center;
      justify-content: center;
      grid-column-start: 3;
    }
  }
}
