#details {
  display: flex;
  position: absolute;
  top: 12px;
  left: calc((var(--element-box-size) + 5px) * 3);
  width: fit-content;
  padding: 5px;
  border: 5px solid;

  #element-info {
    width: 120px;

    #z-value {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }

    #label-info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 6px;

      #atomic-number {
        text-align: right;
        line-height: 2;
        padding-right: 2px;
      }

      #symbol {
        font-size: 48px;
        font-weight: bold;
        line-height: 1;
      }
    }
  }

  #cutoffs-info {
    margin-left: 8px;
    padding-right: 12px;
    text-align: left;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      .cutoff-label {
        font-family: monospace;
      }
    }

    #cutoff-header {
      font-size: 24px;
      font-weight: bold;
    }
  }
}
