#citationPage {
  max-width: 1000px;
  margin: 0 auto;

  > ul > li {
    margin-top: 0.25rem;
  }

  pre {
    background-color: var(--bs-tertiary-bg);
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 0.25rem;
    border: 1px solid var(--bs-border-color);
    overflow-x: auto;
  }

  hr {
    margin: 1.5rem 0;
  }

  #librariesSection {
    li:last-child {
      margin-bottom: 0.5rem;
    }
  }
}
