#ssspApp {
  margin: 0 auto;

  #tabControls {
    background-color: #eff5f8;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    padding-left: 8px;
  }

  #ssspCardBody {
    padding: 1.5rem;
  }
}
