/* Variables */
:root {
  --element-box-size: 5vw;
}

.element {
  height: var(--element-box-size);
  width: var(--element-box-size);
  max-width: 55px;
  max-height: 55px;
  margin: 1px;
  user-select: none;
  -webkit-user-select: none;
  position: relative;
  border-radius: 20%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.element-disabled {
  pointer-events: none;
}

.element:hover {
  filter: brightness(85%);
  transform: scale(1.2);
  z-index: 10;
  -webkit-filter: brightness(85%);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.elem-sym {
  font-size: 16px;
  line-height: 1;
}

.elem-num {
  font-size: 13px;
  line-height: 1;
}

/* ----------------------------- */
/* element locations in the grid */

.element-2 {
  grid-column-start: 18;
}

.element-5 {
  grid-column-start: 13;
}

.element-13 {
  grid-column-start: 13;
}

.lanthanide {
  margin-top: 14px;
}

/* ----------------------------- */

@media screen and (max-width: 1200px) {
  :root {
    --element-box-size: 4.6vw;
  }
  .elem-sym {
    font-size: calc(0.4 * var(--element-box-size));
  }
  .elem-num {
    display: none;
  }
}
