#details-controls {
  display: flex;
  align-items: center;

  #back-button {
    margin-right: 10px;
  }

  #accuracy-selector {
    width: 175px;
  }

  #accuracy-info {
    display: flex;
    margin-left: 10px;
  }

  #accuracy-tooltip {
    text-align: left;
  }
}
