#details-controls {
  display: flex;
  align-items: center;

  #back-button {
    margin-right: 10px;
  }

  #library-selector {
    width: 175px;
  }

  #library-info {
    display: flex;
    margin-left: 10px;
  }

  #library-tooltip {
    text-align: left;
  }
}
