#back-button {
  position: absolute;
}

#element-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 20px;
  margin-bottom: 0.75em;
}

#element-label {
  line-height: 1;
}

.element-dropdown-toggle {
  width: 70px;
  height: 38px;
  padding: 0;
  font-size: 16px;
}

.element-dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}
