#chessboardsPage {
  display: flex;
  flex-direction: column;

  #bandsChessboardPlotsContainer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: auto;

    .dataFlavorToggle {
      margin-top: 1rem;
    }
  }

  #bandsChessboardPlotDetailsContainer {
    margin: 1.5rem auto 0;
    width: 100%;
    max-width: 1000px;
  }
}
