#convergence-summary-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.75rem;
}

#convergence-plot-container {
  overflow-x: auto;
  width: 100%;
}

#convergence-plot-details-container {
  margin: 1rem auto 0;
  max-width: 1000px;
  overflow-x: auto;
}
