#convergence-plot-description {
  margin-bottom: 1rem;

  #convergence-plot-legend-table {
    width: fit-content;

    th:nth-child(odd),
    td:nth-child(odd) {
      text-align: center;
    }
  }
}
