#detailsPage {
  #backButton {
    position: absolute;
  }

  #elementHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 20px;
    margin-bottom: 0.75em;
  }

  #elementLabel {
    line-height: 1;
  }
}
