#detailsPage {
  #backButton {
    position: absolute;
  }

  #detailControls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 20px;
    margin-bottom: 0.75em;

    .selectorContainer {
      display: flex;
      align-items: center;

      .selectorLabel {
        font-size: 16px;
      }

      .selector {
        width: 110px;
        height: 38px;
        padding: 0 0.75rem;
        font-size: 16px;
      }
    }
  }
}
