table {
  border-left: 1px solid var(--bs-border-color);
  border-right: 1px solid var(--bs-border-color);
}

td:nth-child(1) {
  min-width: 12rem;
}

td:nth-child(n + 4) {
  min-width: max-content;
}

td:nth-child(n + 6) {
  width: 7.5rem;
}

td.gap {
  width: 1rem;
}

th:not(.gap),
td:not(.gap) {
  border: 1px solid var(--bs-border-color);
}

td.nuTd {
  position: relative;

  &:hover {
    z-index: 1;
    outline: 2px solid var(--sssp-link-color);
    outline-offset: -1px;
  }
}
