._pseudos-checkboxes_cplvb_1{margin-top:1em;margin-left:1em}._pseudos-checkboxes_cplvb_1 ._pseudo-checkbox_cplvb_5{margin-bottom:1em}._eos-plot_1kkbs_1{width:100%;height:300px}#_eos-note_3j6lo_1{margin-top:1.5rem;text-align:center}
