#headerCard {
  margin: 0 auto 1.5rem;

  #headerCardBody {
    padding: 16px;
    border-top: 1px solid #d2d2d2;

    #titleAndLogo {
      display: flex;
      align-items: center;
      justify-content: space-between;

      #titleAndDoi {
        text-align: left;

        #title {
          font-size: 24px;
        }

        #subtitle {
          padding: 2px;
        }

        #doiContainer {
          display: flex;
          gap: 8px;
          margin-bottom: 5px;
        }
      }

      #logo {
        height: 100px;
        float: right;
        padding: 2px;
      }
    }
  }
}
