#pseudo-selectors-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  #pseudo-shift-range {
    height: 0.75rem;
  }
}

#bands-plot-wrapper {
  overflow-x: auto;
  max-width: 100%;
}

#bands-plot {
  width: 500px;
  height: 500px;
  margin: 1.5rem auto;
}

#bands-note {
  text-align: center;
}

.pseudo-selector {
  font-weight: bold;
}

#reference-pseudo-selector {
  @extend .pseudo-selector;

  label {
    color: black;
  }
}

#compared-pseudo-selector {
  @extend .pseudo-selector;

  label {
    color: red;
  }
}
