#periodic-table {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  position: relative;

  #table {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    .elements {
      display: grid;
      grid-template-columns: repeat(17, 1fr) 1fr;
    }

    .star-placeholder {
      display: flex;
      font-weight: bold;
      align-self: center;
      justify-content: center;
      grid-column-start: 3;
    }
  }
}
