#plotPaneHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;

  h2 {
    margin: 0;
  }

  #ssspPseudos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    #efficiencyPseudo {
      color: var(--efficiency-color);
    }

    #precisionPseudo {
      color: var(--precision-color);
    }

    @media (min-width: 600px) {
      gap: 1rem;
    }
  }
}
