.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--element-box-size);
  height: var(--element-box-size);
  color: rgb(255, 255, 255);
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  border-radius: 20%;
  cursor: pointer;
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  z-index: 1;
  transition:
    opacity 0.5s ease-in-out,
    transform 0.25s ease,
    z-index 0.25s ease;
  -webkit-transition:
    opacity 0.5s ease-in-out,
    transform 0.25s ease,
    z-index 0.25s ease;
  -moz-transition:
    opacity 0.5s ease-in-out,
    transform 0.25s ease,
    z-index 0.25s ease;
  -ms-transition:
    opacity 0.5s ease-in-out,
    transform 0.25s ease,
    z-index 0.25s ease;
  -o-transition:
    opacity 0.5s ease-in-out,
    transform 0.25s ease,
    z-index 0.25s ease;

  &.disabled {
    pointer-events: none;
  }

  &.transparent {
    opacity: 0.25;
  }

  &:hover {
    z-index: 10;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }

  &.element-2 {
    grid-column-start: 18;
  }

  &.element-5,
  &.element-13 {
    grid-column-start: 13;
  }

  &.element-57,
  &.element-89 {
    grid-column-start: 4;
  }

  .symbol {
    font-size: 16px;
    line-height: 1;
  }

  .info {
    font-size: 13px;
    line-height: 1;
  }
}
