#pseudo-selectors-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  #pseudo-shift-range {
    height: 0.75rem;
  }
}

#bands-plot {
  width: 500px;
  height: 500px;
  margin: 1.5rem auto;
}

#bands-note {
  text-align: center;
}
