#pseudo-selectors-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#bands-plot {
  width: 500px;
  height: 500px;
  margin: 1.5rem auto;
}

#bands-note {
  margin-top: 1.5rem;
  text-align: center;
}
