:root {
  --sssp-link-color: purple;
  --efficiency-color: rgb(0, 128, 0);
  --precision-color: rgb(128, 0, 128);
  --efficiency-color-light: rgba(0, 128, 0, 0.5);
  --precision-color-light: rgba(128, 0, 128, 0.5);
}

.card {
  border: 0;

  .card-body {
    padding: 24px;
    border: 1px solid #d2d2d2;
    border-top: 0;
    box-shadow: var(--bs-box-shadow);
  }
}

.tooltip-inner {
  max-width: none;
}

.nav-tabs {
  .nav-link {
    border-top: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
    color: grey;
    background-color: whitesmoke;

    a {
      text-decoration: none;
    }

    &:hover {
      color: #4682b4;
    }
  }
}

a:not(.button-link):not(.dropdown-item) {
  text-decoration: none;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--sssp-link-color) !important;
  }
}

.page-title {
  text-align: center;
}
