#eosTable {
  border-left: 1px solid var(--bs-border-color);
  border-right: 1px solid var(--bs-border-color);

  td:nth-child(1) {
    min-width: 12rem;
  }

  td:nth-child(n + 7) {
    min-width: 120px;
  }

  td.gap {
    min-width: 1rem;
  }

  td:nth-child(n + 18) {
    min-width: fit-content;
  }

  th:not(.gap),
  td:not(.gap) {
    border: 1px solid var(--bs-border-color);
  }

  td.nuTd {
    position: relative;

    &:hover {
      z-index: 1;
      outline: 4px solid var(--sssp-link-color);
      outline-offset: -2px;
    }
  }
}
